html {
    cursor: url('../imagens/mata_mosca.png') 30 30, auto;
}

body {
    background: url('../imagens/bg.jpg') center center fixed no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* CONFIG. DAS MOSCAS 
------------------------------------------- */

.fly1 {
    width: 50px;
}

.fly2 {
    width: 70px;
}

.fly3 {
    width: 90px;
}

.sideB {
    transform: rotateY(180deg);
}

/* CONFIG DO CENÃRIO
--------------------------------------------- */

#scene {
    position: relative;
    background-size: cover;
    width: 80%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}


/* Painel de vidas e cronometro 
---------------------------------------------- */

.panel {
    position: absolute;
    background-color: #fff;
    opacity: .7;
    width: 290px;
    height: 150px;
    bottom: 0px;
    left: 0;
    border-radius: 0 15px 0 0;
}

.life {
    list-style-image: url('../imagens/coracao_cheio.png');
}

.panel .lifes > div{
    display: flex;
    justify-content: space-around;
    padding: 15px 10%;
}

.timer {
    font-size: 25px;
    font-weight: bold;
    float: left;
    margin-left: 20px; 
}
